doctype html
html
  head
    title Pug
    script(type='text/javascript').
      if (foo) {
        bar(1 + 5);
      }
  body
    h1 Instituto Federal Sudeste de Minas
    
    #container.col
      p Seja bem-vindo!
      a(href="/register") register-se

       